/* Estilo para el modal */
.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 999;
    align-items: center;
    justify-content: center;
}

.modal-content {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    text-align: center;
}

#modal-accept {
    background: #ff0000;
    color: #ffffff;
    border: none; /**/
    padding: 10px 20px; /*Relleno interno.*/
    border-radius: 5px; /*Bordes redondeados.*/
    cursor: pointer; /*El cursor cambia a un puntero al pasar sobre el botón.*/
}
#reset-button {
    background-color: rgb(207, 16, 16); /* Color de fondo */
    color: rgb(80, 71, 71); /* Color del texto */
    border: none; /* Sin borde */
    padding: 10px 20px; /* Espaciado interno */
    border-radius: 5px;
    cursor: pointer; /* Cursor de puntero al pasar por encima */
    font-size: 20px; /* Tamaño de fuente */
    margin: 10px 0; /* Espacio entre el botón y otros elementos */
    transition: background-color 0.2s; /* Transición para el cambio de color de fondo al pasar por encima */
}

/* Estilos para los botones */
#reset-button, #modal-accept {
    font-weight: bold;
    font-size: 15px;
}

/* Estilos adicionales para el botón de reinicio */
#reset-button {
    background-color: rgb(0, 0, 0); /* Color de fondo */
    color: white; /* Color del texto */
}

#reset-button:hover {
    background-color: rgb(255, 0, 0); /* Color de fondo al pasar el cursor por encima */
}
